body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin:0;
  padding:0;
  background-color: black;
  color:white;
  overflow: hidden;
}
.main{
    display:flex;
    height:100vh;
}
.sidebar{
    background-color: black;
    width:360px;
    border-radius:1rem;/* 1rem=16px */ 
}
.main-content{
    background-color: black;
    flex:1;
    border-radius:1rem;
    overflow:auto;
}
.music-player{
    background-color: black;
    position:fixed;
    bottom:0px;
    width:100%;
    height:72px;
    display:flex;
    justify-content: space-between;
}
a{
    text-decoration:none;
    color:white;
}
.nav{
    background-color: #121212;
    border-radius:1rem;
    display: flex;
    flex-direction:column;
    justify-content:center;
    height:100px;
    padding:0.2rem 0.75rem;
    margin:0.5rem 0.75rem 0.5rem;
}
.nav-option{
    line-height:2.5rem;;
    opacity:0.7;
    padding:0.5rem 0.75rem;
}
.nav-option i{
    font-size:1.25rem;
}
.nav-option a{
    font-size:1rem;
    margin-left:1rem;
}
.nav-option:hover{
    opacity:1;
}
.library{
    background-color: #121212;
    border-radius:0.8rem;
    display:flex;
    flex-direction:column;
    height:100%;
    margin:0.5rem 0.75rem 0.5rem;
}
.your-library img{
    height:1.25rem;
    width:1.25rem;
}
.your-library{
    display:flex;
    justify-content:space-between;
    padding:1rem 1rem 1rem;
}
.your-library a{
    font-size:1rem;
    margin-left:1rem;
    opacity:0.7;
}
.your-library i{
    margin-left:3.5rem;
    font-size:1.25rem;
    opacity:0.7;
}
.your-library a:hover{
    opacity:1;
}
.your-library i:hover{
    opacity:1;
    cursor:pointer;
}
.lib-boxes{ 
    height:160px;
    background-color: #393838;
    border-radius:0.8rem;
    padding:0.5rem;
    font-size:14px;
    margin:0.5rem 1rem 0.5rem;
    line-height:18px;
}
.badge{
    appearance:none;
    height:40px;
    width:134px;
    font-size:13px;
    font-weight:700;
    border-radius:2rem;
    padding:4px 10px;
} 
.badge:hover{
    transform:scale(1.1);
    cursor:pointer;
}
.sticky-nav{
    position:sticky;
    top:0;
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:1rem 0 1rem;
}
.arrows{
    margin-left:0.5rem;
}
.arrows img{
        opacity:0.7;
}
.nav-buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right: 1rem;
}
.nav-buttons button{
    margin-right: 1rem;
}
.arrows img:hover{
    opacity:1;
    cursor:pointer;
}
.nav-buttons i{
    opacity:0.7;
}
.nav-buttons i:hover{
    opacity:1;
    cursor:pointer;
}
#install{
    background-color: black;
    color:white;
}
#install:hover{
    background-color: white;
    color:black;
}
@media (max-width:1200px) {
    .hide{
        display:none;
    }
}
.card-box img{
    height:200px;
    width:230px;
    border-radius:0.5rem;
}
.card-box{
    height:300px;
    width:230px;
    padding:1rem;
    margin:1rem 1rem 1rem;
    border-radius:0.5rem;
}
.card-box:hover{
    background-color: rgb(36, 36, 36);
    box-shadow:0 0 6px grey
}
.cards1{
    display: flex;
    flex-wrap:wrap;
}
.cards2{
    display: flex;
    flex-wrap:wrap;
}
.cards3{
    display:flex;
    flex-wrap:wrap;
}
h2{
    margin-left:2rem;
}
h2:hover{
    text-decoration: underline;
    cursor:pointer;
}
.heading{
    font-size:18px;
    font-weight:700;
}
.heading:hover{
    cursor:pointer;
    text-decoration: underline;
}
.main-options{
    background-color:#121212;
    border-radius: 1rem;
}
@media (width:1200px){
    .cards1{
        flex-wrap: wrap;
    }
    .cards2{
        flex-wrap: wrap;
    }    
    .cards3{
        flex-wrap: wrap;
    }    
}
.footer{
    height:300px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.line{
    height:35%;
    width:90%;
    border-top:1px solid white;
    opacity:0.5;
}
.album{
    width:25%;
    display: flex;
}
.album img{
    margin:0.75rem;
    height:56px;
    width:56px;
    border-radius: 0.3rem;
}
.content{
    display:flex;
    flex-direction: column;
    line-height:0.2rem;
    justify-content: center;
}
.content p{
    margin:1rem 0rem 0rem;
}
.album-icons{
    display:flex;
    align-items: center;
    margin-left:0.5rem;
}
.album-icons i{
    margin-left:0.75rem;
    opacity:0.7;
}
.album-icons i:hover{
    opacity:1;
    cursor:pointer;
}
.player{
    width:50%;
}
.player-icons{
    display:flex;
    align-items: center;
    justify-content: center;
}
.player-icons img{
    height:1rem;
    width:1rem;
    margin-right:2.5rem;
    opacity:0.7;
}
#middle{
    height:2rem;
    width:2rem;
    opacity:1;
}
.player-icons img:hover{
    opacity:1;
    cursor:pointer;
}
.play-bar{
    display: flex;
    justify-content: center;
    align-items:center
}
.progress-bar{
    width:60%;
    appearance: none;
    background-color: transparent;
    cursor:pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: darkgray;
    opacity:0.8;
    border-radius: 100px;
    height:0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height:14px;
    width:14px;
    background-color:#1bd760;
    border-radius: 50%;
    margin-top:-6px;
}
.control{
    width:25%;
    display:flex;
    align-items: center;
}
.control i{
    margin-left:1rem;
    opacity:0.7;
}
.control i:hover{
    cursor:pointer;
    opacity:1;
}
.volume-bar{
    appearance: none;
    background-color: transparent;
}
.volume-bar::-webkit-slider-runnable-track{
    appearance:none;
    background-color: darkgray;
    height:0.2rem;
}
.volume-bar::-webkit-slider-thumb{
    appearance:none;
    height: 1rem;
    width:1rem;
    border-radius:50%;
    background-color:#1bd760;
    margin-top:-5px;
}